:root {
  // COLORS
  --color-primary: #d9b7eb;
  --color-secondary: #f6cb6d;

  --color-tertiary: #e99d91;
  --color-white: #fff;

  --fc-dark: #000;
  --fc-light: #fff;

  // FONT
  --fs-m: 2rem;
}

$font-primary: "Josefin Sans", sans-serif;
