@use "../abstracts/core";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 75%;
  box-sizing: border-box;

  @include core.respond(bdesk) {
    font-size: 62.5%; // 1rem = 10px
  }

  @include core.respond(tland) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include core.respond(tport) {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  font-family: core.$font-primary;
  font-weight: 300;
  line-height: 1.2;
  color: var(--fc-dark);
}
