---
import MainLayout from "../layouts/main.astro";
import SocialSidebar from "../components/social-sidebar.astro";
import Button from "../components/base/button.astro";
import Link from "../components/base/link.astro";
import H1 from "../components/base/typography/h1.astro";

import taiName from "../assets/tainara.svg";
---

<MainLayout pageTitle="Tainara Aline">
  <SocialSidebar />
  <section class="home__portfolio">
    <H1>Hi there!</H1>
    <div class="home__portfolio-name">
      <H1>I'm</H1>
      <img src={taiName.src} alt="Tainara" />
    </div>
    <p class="home__description">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
    <Link variant="primary" href="/portfolio/projects">Projects</Link>
  </section>
  <section class="home__about-me">
    <H1>About me</H1>
    <p class="home__description">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
    <Button variant="primary">Resume</Button>
  </section>
</MainLayout>

<style lang="scss">
  .home {
    &__portfolio {
      margin-top: 9rem;

      &-name {
        display: flex;
        align-items: baseline;
      }
    }

    &__about-me {
      margin-top: 12rem;
    }

    &__description {
      margin: 3rem 0;
      font-size: var(--fs-m);
      max-width: 80rem;
    }
  }
</style>
