---
const { class: className, ...rest } = Astro.props;
---

<h3 {...rest} class:list={["h3", ...(className?.split(" ") ?? [])]}>
  <slot />
</h3>

<style lang="scss">
  .h3 {
    font-size: 4rem;
    font-weight: 400;
  }
</style>
