.home {
  min-height: 100vh;
  width: 100%;
  background-image: url(../img/bg-primary.svg);
  display: flex;
  flex-direction: column;
  color: var(--fc-light);
  font-size: var(--fs-m);
  padding: 7rem;
  padding-right: 15rem;

  &__header {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__portfolio {
    margin-top: 9rem;

    &-name {
      display: flex;
      align-items: baseline;
    }
  }

  &__about-me {
    margin-top: 12rem;
  }

  &__description {
    margin: 3rem 0;
    font-size: var(--fs-m);
  }
}
