---
import Layout from "./Layout.astro";
import Header from "../components/header.astro";
import Link from "../components/base/link.astro";

import bgPrimary from "../assets/bg-primary.jpg";

const { pageTitle, back } = Astro.props;
---

<Layout title={pageTitle}>
  <main class="main">
    <header class="main__header">
      <Header />
      {
        !!back ? (
          <Link variant="primary" href={back.path}>
            {back.text}
          </Link>
        ) : null
      }
    </header>
    <slot />
  </main>
</Layout>

<style lang="scss" define:vars={{ bgPrimary: `url(${bgPrimary.src})` }}>
  .main {
    min-height: 100vh;
    width: 100%;
    background-image: var(--bgPrimary);
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: var(--fs-m);
    padding: 4rem 7rem 7rem 7rem;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
</style>
